//Colors!

$blue:     #44f;
$red:      #900;

// Fonts!

$header-font-family: "Verdana";
$li-font-family: "Helvetica";


.link {
  padding-right: .5em;
  padding-bottom: .5em;
}

form {
  color: $blue;
}


li {
  color: $red;
}

.states {
  display: inline-block;
  margin: .5em;
}
